.deletePost__h4 {
    text-align: center; 
    margin-top: 100px;
}

.deletePost__mainContainer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.deletePost__container {
    margin-top: 80px;
    margin-left: 10px;
    margin-right: 10px;
    flex-direction: row;
    padding: 20px;
    border-radius: 10px;
    background-color: aqua;
}

.deletePost__container div:last-child {
    display: flex;
    align-items: center;
    padding-top: 20px;
    cursor: pointer;
    justify-content: space-around;
    border-top: 3px dashed #eee;
}

@media(max-width: 490px) {
    .deletePost__h4 {
        margin-top: 250px;
    }
    .deletePost__container {
        margin-top: 50px;
    }
}